@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #f8f8f6;
    font-family: 'Karla', sans-serif;
    font-size: 18px;
}
main {
    min-height: calc(100vh - 8.9em);
}
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}
.grid * {
    transition: all 0.4s ease;
}
.daily-details-grid-item {
    display: flex;
    justify-content: space-between;
}
/* MEDIA QUERIES */
@media (max-width:550px) {
    .grid {
        display: flex;
        flex-direction: column;
    }
    .weather-card {
        width: 90%;
        margin: 0 auto;
        margin-top: 2em;
    }
    .prioritize {
        order: -1;
    }
}